<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table , th , tr{
            border: 1px solid black; 

        }
    </style>
</head>
<body>
    <div class = "container ">

        <form class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto card">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
              <br>
              <input type="text" class="form-control">
            </div>
            
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Recipe Description</label> 
              <br>
              <textarea class = "form-control" > </textarea>
            </div>
           
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Recipe Image</label>
              <br>
              <input type = "file" class = "form-control" >
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> 
    </div>
</body>
</html>